/*
===================================
STANDARD VALUES
===================================
*/

@font-face {
  font-family: "Roboto";
  src: local("../assets/fonts/Roboto-Regular.ttf"),
    local("../assets/fonts/Roboto-Bold.ttf"),
    local("../assets/fonts/Roboto-Light.ttf");
}

body {
  font-family: "Roboto";
  color: white;
  background-color: black;
}

main {
  overflow: hidden;
}

.default {
  display: flex;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h2 {
  font-weight: 300;
  margin-bottom: 1rem;
}

h1,
h2 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0.25rem 0.75rem;
  height: 2.5rem;
  background-color: #5a44ea;
  color: white;
}

button:hover {
  color: gray;
}

button img,
.edit img {
  width: 1.5rem;
}

.task,
.finished-tasks {
  margin-bottom: 1rem;
}

.no-tasks {
  text-align: center;
  margin: 5rem 0;
  margin-bottom: 10rem;
}

/*
===================================
UTILITY CLASSES
===================================
*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  margin: 0 auto;
}

.logo {
  font-size: 1.35rem;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.page-pointer {
  background-color: #262533;
  border-left: 0.2rem solid #7b69ee;
}

.page-pointer a {
  color: #7b69ee;
}

.hidden {
  display: none;
  animation: fade-out 0.5s;
}

.alert {
  padding: 1rem;
  margin-bottom: 1.25rem;
  background-color: white;
  font-size: 0.8rem;
  line-height: 1.5;
  border: 0.1rem solid black;
}

.alert.success {
  border-color: green;
  color: green;
}

.alert.danger {
  border-color: red;
  color: red;
}

/*
===================================
HEADER
===================================
*/

header {
  background-color: #1f2023;
}

header .container {
  max-width: 95%;
  padding: 1.5rem 0;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 3.75rem;
}

header li a {
  color: white;
  text-decoration: none;
}

header nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}

/*
===================================
SIDE-MENU
===================================
*/

.side-menu {
  background-color: #1f2023;
}

.side-menu .container {
  width: 20rem;
  height: 100vh;
  padding: 2rem 0;
}

.side-menu h2 {
  padding-left: 1rem;
}

.side-menu a {
  display: inline-block;
  padding: 0.5rem;
  padding-left: 1.5rem;
}

.side-menu form {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-right: 1rem;
}

.side-menu form input {
  width: 13rem;
  padding: 0.48rem;
  border: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.side-menu form button {
  padding: 0 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.side-menu form button:hover {
  background-color: hsl(248, 79%, 49%);
}

.categories li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories li:first-child a {
  width: 100%;
  padding: 1.5rem 1.5rem;
}

.categories li button {
  background-color: transparent;
  padding: 0;
  margin-bottom: 1.45rem;
  margin-right: 1rem;
}

.categories li button img,
.categories li a img {
  width: 1.6rem;
}

.categories__btns {
  display: flex;
  align-items: center;
}

/*
===================================
MAIN CONTENT
===================================
*/

.main-content .container {
  padding: 2rem 5rem;
  margin: 0 auto;
}

.main-content form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form__input input {
  width: 70vw;
  padding: 0 1rem;
  height: 2.5rem;
}

.form__input button {
  padding: 0 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.form__input button:hover {
  background-color: hsl(248, 79%, 49%);
}

form p {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

form select {
  width: 13rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 0 10rem 1rem;
}

.email-btn {
  text-align: center;
}

.email-btn a {
  background-color: hsl(248, 79%, 49%);
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
}

.email-btn a:hover {
  background-color: hsl(248, 79%, 39%);
}

.tasks {
  margin-top: 1rem;
}

/*
===================================
TASK
===================================
*/

.task {
  display: flex;
  align-items: center;
}

.task__text {
  background-color: white;
  color: black;
  padding: 0.48rem 1rem;
  width: 100%;
}

.task .done {
  background-color: hsl(108, 39%, 41%);
  border-radius: 0.5rem 0 0 0.5rem;
}

.task .done:hover {
  background-color: hsl(108, 40%, 30%);
}

.task .delete {
  background-color: hsl(0, 53%, 44%);
}

.task .delete:hover {
  background-color: hsl(0, 52%, 34%);
}

.task .edit {
  background-color: hsl(213, 87%, 66%);
  border-radius: 0 0.5rem 0.5rem 0;
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
  height: 2.45rem;
}

.task .edit img {
  margin-top: 0.25rem;
}

.task .edit:hover {
  background-color: hsl(213, 86%, 56%);
}

/*
===================================
FINISHED TASKS
===================================
*/

.finished-tasks {
  margin-top: 5rem;
}

/*
===================================
EDIT PAGE
===================================
*/

.edit-page .container {
  width: 70rem;
  max-width: 100%;
  text-align: center;
  margin: 12rem auto;
}

.edit-page h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.edit-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-page form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.edit-page form button {
  width: 5rem;
  border-radius: 0.5rem;
}

.edit-page form button:hover {
  background-color: hsl(248, 79%, 49%);
}

.edit-page form button img {
  margin: 0 auto;
}

/*
===================================
POP UP MESSAGE
===================================
*/

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 0.2rem solid #7b69ee;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.7rem hsla(0, 0%, 0%, 0.2);
  z-index: 2;
  font-size: 1.25rem;
  animation: fade-in 0.5s;
}

.message .container {
  position: relative;
  padding: 7rem 10rem;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.close svg {
  color: #7b69ee;
}

.close:hover svg {
  color: #584baf;
}

.overlay-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.714);
  z-index: 1;
  animation: fade-in 0.5s;
}

/*
===================================
LOGIN/REGISTER PAGE
===================================
*/

.login-register .container {
  max-width: 50rem;
  margin: 10rem auto;
  text-align: center;
}

.login-register form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-register form input {
  padding: 1rem 2rem;
}
