<header>
    {{> header}}
</header>
{{#if message}}
    <div class="message">
        <p>{{message}}</p>
    </div>
{{/if}}
<main class="default">
    <section class="side-menu default">
        {{> sidebar}}
    </section>
    <section class="main-content">
        <div class="container">
            {{> form}}
            <div id="tasks" class="tasks">
                {{#each tasks}}
                        {{#unless this.done}}
                            {{> task this}}
                        {{/unless}}
                {{/each}}
            </div>
            <div id="finishedTasks" class="tasks finished-tasks">
            <h1>Things you've done!</h1>
                {{#each tasks}}
                        {{#if this.done}}
                            {{> task-finished this}}
                        {{/if}}
                {{/each}}
            </div>
        </div>
    </section>
</main>