<header>
    {{> header}}
</header>
<main>
    <section class="edit-task">
        <div class="container">
            <h1>Edit Task</h1>
            <form method="POST" action="/tasks/edit/{{task.id}}">
                <input type="hidden" name="method" value="PUT">
                <input type="text" name="task" value="{{task.task}}" required>
                {{#editButton}}{{/editButton}}
            </form>
        </div>
    </section>
</main>