<header>
    {{> header}}
</header>
<main>
    <section class="edit-page">
        <div class="container">
            <h1>Edit Category</h1>
            {{#if flash.message}}
                <div class="alert {{flash.type}}">
                    {{flash.message}}
                </div>
            {{/if}}
            <form method="POST" action="/categories/edit/{{category.id}}">
                <input type="hidden" name="method" value="PUT">
                <input type="text" name="category" value="{{category.category}}" required>
                {{#editButton}}{{/editButton}}
            </form>
        </div>
    </section>
</main>