<header>
    {{> header}}
</header>
<main>
    <section class="side-menu">
        {{> sidebar}}
    </section>
    <section class="main-content">
        <div class="container">
            <div>
                <h1>We've got things to do!</h1>
                <form action="submit" id="form">
                    <input type="text" placeholder="what is your task?">
                    <button>
                        <img src="./images/plus-icon.svg" alt="Plus icon">
                    </button>
                </form>
            </div>
            <div id="tasks" class="tasks">
                {{#ifCategoryDefault}}
                    {{#each tasks}}
                        {{> task this}}
                    {{/each}}
                {{else}}
                    {{> task this}}
                {{/ifCategoryDefault}}
            </div>
        </div>
    </section>
</main>
