<header>
    {{> header}}
</header>
<main>
    <section class="login">
    <div class="container">
        <h1>Log in.</h1>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Your e-mail.">
            <input type="password" name="password" placeholder="Your password.">
            <button>Log in</button>
        </form>
    </div>
    </section>
</main>