<header>
    {{> header}}
</header>
<main>
    <section class="login-register">
    <div class="container">
        <h1>Log in.</h1>
        {{#if flash.message}}
            <div class="alert {{flash.type}}">
                {{flash.message}}
            </div>
        {{/if}}
        <p>
            Don't have an account? <a href="/register">Register here.</a>
        </p>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Your e-mail.">
            <input type="password" name="password" placeholder="Your password.">
            <button>Log in</button>
        </form>
    </div>
    </section>
</main>