<header>
    {{> header}}
</header>
<main>
    <section class="login-register">
    <div class="container">
        <h1>Register now.</h1>
        {{#if flash.message}}
            <div class="alert {{flash.type}}">
                {{flash.message}}
            </div>
        {{/if}}
        <div>
            <p>Already have an account? <a href="/login">Login here.</a></p>
        </div>
        <form action="/register" method="POST">
            <input type="text" name="firstname" placeholder="Firstname.">
            <input type="text" name="lastname" placeholder="Lastname.">
            <input type="email" name="email" placeholder="Your e-mail.">
            <input type="password" name="password" placeholder="Your password.">
            <button>Register</button>
        </form>
    </div>
    </section>
</main>