<div>
  <h1>We've got things to do!</h1>
  <form action="/tasks/{{@root.activeCategory}}" method="POST" id="form">
    <div class="form__input">
      <input
        type="text"
        name="task"
        placeholder="What is your task?"
        required
      />
      <button>
        <img src="./images/plus-icon.svg" alt="Plus icon" />
      </button>
    </div>
    <select name="category_id" required>
      <option disabled selected>Choose a category:</option>
      {{#each categories}}
        <option value="{{this.id}}">{{this.category}}</option>
      {{/each}}
    </select>
  </form>
</div>