<div class="container">
  <ul>
    <li class="logo">
      <a href="/">
        <img src="/images/logo.png" alt="Logo" />
        <p>
          Just Do IT
        </p>
      </a>
    </li>
    <nav>
      {{#if loggedIn}}
        <li>
          <a href="/logout">Logout</a>
        </li>
      {{else}}
        <li>
          <a href="/register">Register</a>
        </li>
        <li id="login">
          <a href="/login">Login</a>
        </li>
      {{/if}}
    </nav>
  </ul>
</div>