<div class="container">
  <ul>
    <li class="logo">
      <a href="index.html">
        <img src="./images/logo.png" alt="Logo" />
        <p>
          Just Do IT
        </p>
      </a>
    </li>
    <li>
      <a href="#">Logout</a>
    </li>
  </ul>
</div>