<div class="container">
  <h2>Categories</h2>
  <nav>
    <ul>
      <li class="page-pointer">
        <a href="/">
          Default
        </a>
      </li>
      <li>
        <a href="/household">
          Household
        </a>
      </li>
    </ul>
  </nav>
</div>