<div class="container">
  <h2>Categories</h2>
  <nav>
    <ul class="categories">
      {{#each categories}}
          <li>
            <a {{#if (eq this.id @root.activeCategory)}}class="page-pointer"{{/if}} href="{{this.link}}">
              {{this.category}}
            </a>
          </li>
      {{/each}}
    </ul>
  </nav>
</div>