<div class="container">
  <h2>Categories</h2>
  <nav>
    <ul class="categories">
      {{#each categories}}
          <li>
            <a {{#if (eq this.id @root.categoryId)}}class="page-pointer"{{/if}} href="/{{this.link}}">
              {{this.category}}
            </a>
          </li>
      {{/each}}
    </ul>
  </nav>
  <form action="/categories" method="POST">
    <input
        type="text"
        name="category"
        placeholder="Add a new category."
        required
      />
      <button>
        <img src="/images/plus-icon.svg" alt="Plus icon" />
      </button>
  </form>
</div>