<article class="task">
  {{#doneButton this.id}}{{/doneButton}}
  <div class="task__text">
    <p>
      {{task}}
    </p>
  </div>
  {{#deleteButton this.id}}{{/deleteButton}}
  {{#editButton this.id}}{{/editButton}}
</article>