<article class="task">
  {{#doneButton}}{{/doneButton}}
  <div class="task__text">
    <p>
      {{task}}
    </p>
  </div>
  {{#deleteButton}}{{/deleteButton}}
  {{#editButton}}{{/editButton}}
</article>